[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arcgisutils"]
	path = arcgisutils
	url = https://github.com/r-arcgis/arcgisutils
[submodule "arcpbf"]
	path = arcpbf
	url = https://github.com/r-arcgis/arcpbf
